---
import {Image} from "astro:assets";
import SimilarPosts from "@/components/SimilarPosts.astro";
import {getSinglePage} from "@/lib/contentParser.astro";
import dateFormat from "@/lib/utils/dateFormat";
import similarItems from "@/lib/utils/similarItems";
import {markdownify} from "@/lib/utils/textConverter";

const posts = await getSinglePage("posts");
const {post} = Astro.props;
const similarPosts = similarItems(post, posts, post.slug);
const {Content} = await post.render();
const {title, image, date} = post.data;

---

<section class="section">
  <div class="container">
    <article class="row justify-center">
      <div class="md:col-10 text-center">
        <h1 set:html={markdownify(title)} class="h2"/>
        <ul class="mt-4 flex flex-wrap items-center justify-center text-text">
          <li class="mx-3">
            <a
              href="https://clemlatz.dev"
              class="flex items-center hover:text-primary font-medium"
            >
              <span>Clément Latzarus</span>
            </a>
          </li>
          <li>
            ·
          </li>
          <li class="mx-3 flex items-center flex-wrap font-medium">
            <>{dateFormat(date)}</>
          </li>
        </ul>
      </div>

      <div class="col-12 mt-8 mb-2">
        {
          image && (
            <Image
              src={image}
              height={500}
              width={1000}
              alt={title}
              class="rounded-lg"
            />
          )
        }
      </div>

      <div class="md:col-10">
        <div class="content mb-16 text-left">
          <Content />
        </div>
      </div>
    </article>
  </div>
</section>

<!-- similar posts -->
{
  similarPosts.length > 0 && (
    <section class="section pt-0">
      <div class="container">
        <h2 class="mb-8 text-left h3">Articles similaires</h2>
        <SimilarPosts posts={similarPosts.slice(0, 3)} />
      </div>
    </section>
  )
}
